.Footer{
  background-color: #0c1116;
  color: white;
  height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  &:hover {
    height: 20vh;
    z-index: 3;
  }
}
